.scoreElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .scoreArea {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
    .at {
      font-size: 16px;
      margin: 0px 20px;
    }

    .awayImg {
      margin-left: 10px;
    }
    .homeImg {
      margin-right: 10px;
    }
  }
}