.play {
  border: 1px solid black;
  // height: 600px;
  // width: 800px;
  // margin-left: 200px;
  margin: auto;
  margin-top: 20px;
}

.line {
  position: absolute;
}

.teamSection {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.descriptionArea {
  height: 100px;
}