.play {
  // border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(250, 250, 250);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.line {
  position: absolute;
}

.teamSection {
  height: 275px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.descriptionArea {
  height: 100px;
}

.teamName {
  font-weight: bold;
}

.playerName {
  color: #6c6d6f;
  font-weight: 500;
}