*{ box-sizing:border-box; }

.statButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: capitalize;
}

.buttonGroup {
  margin-right: 20px;
}

.statCheck {
  width: 14px;
  height: 14px;
  border: 2px solid;
  display: inline-block;
  position: relative;
  top: 1px;
  right: 1px;

  &:hover {
    cursor: pointer;
  }
  &.off {
    background-color: transparent;
  }
}

.point {
  border-color: rgb(255, 215, 0);
  background-color: rgb(255, 215, 0);
  &:hover {
    background-color: rgba(255, 215, 0, 0.5);
  }
}
.miss {
  border-color: rgb(165, 42, 42);
  background-color: rgb(165, 42, 42);
  &:hover {
    background-color: rgba(165, 42, 42, 0.5);
  }
}
.rebound {
  border-color: rgb(0, 0, 255);
  background-color: rgb(0, 0, 255);
  &:hover {
    background-color: rgba(0, 0, 255, 0.5);
  }
}
.assist {
  border-color: rgb(0, 128, 0);
  background-color: rgb(0, 128, 0);
  &:hover {
    background-color: rgba(0, 128, 0, 0.5);
  }
}
.turnover {
  border-color: rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
  &:hover {
    background-color: rgba(255, 0, 0, 0.5);
  }
}
.block {
  border-color: rgb(128, 0, 128);
  background-color: rgb(128, 0, 128);
  &:hover {
    background-color: rgba(128, 0, 128, 0.5);
  }
}
.steal {
  border-color: rgb(255, 192, 203);
  background-color: rgb(255, 192, 203);
  &:hover {
    background-color: rgba(255, 192, 203, 0.5);
  }
}
.foul {
  border-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}