.schedule {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  width: 1235px;
  max-width: 90%;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;

  .scheduleContent {
    width: calc(87% + 40px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    .datePick {
      flex: 0 0 210px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .dateInput {
        min-width: 120px;
        height: 30px;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    .gamePick {
      flex: 1 1 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
  
      .games {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        overflow-x: hidden;
        text-align: center;
      
        .game {
          background-color: rgb(240, 240, 240);
          border-radius: 15px;
          padding: 0 5px;
          margin-right: 5px;
          white-space: nowrap;
  
          &:hover {
            cursor: pointer;
            background-color: rgb(230, 231, 233);
          }
          .iconRow {
            display: flex;
            align-items: center;
            height: 21px;
          }
          .recordRow {
            display: flex;
            justify-content: space-evenly;
            height: 21px;
            font-size: 10px;
          }
        }
      }
    }
  }  
}

.scheduleButton {
  height: 45px;
  width: 45px;
  margin: 10px;

  &.end {
    margin-left: auto;
  }
}