.schedule {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;

  box-sizing: border-box;
  max-width: 90%;
  width: 1235px;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dateInput {
  min-width: 120px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.games {
  display: flex;
  margin-left: 10px;
  overflow-x: hidden;
  text-align: center;
  width: calc(0.7 * calc(100% - 100px));

  .game {
    // border: 1px solid black;
    background-color: rgb(234, 235, 237);
    border-radius: 15px;
    padding: 0 5px;
    margin-right: 20px;

    white-space: nowrap;
    &:hover {
      cursor: pointer;
    }

    .iconRow {
      display: flex;
      align-items: center;
    }
    .recordRow {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.scheduleButton {
  height: 45px;
  width: 45px;
}