.schedule {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;

  box-sizing: border-box;
  max-width: 90%;
  width: 1235px;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
}

.dateInput {
  min-width: 120px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.games {
  display: flex;
  margin-left: 10px;
  overflow-x: scroll;
  text-align: center;

  .game {
    margin-right: 20px;

    white-space: nowrap;
    &:hover {
      cursor: pointer;
    }
  }
}