.player {
  position: relative;
  
  .playerName {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--line-color-light);
    transition: color 0.3s ease;
  }

  .line {
    position: absolute;
  }
}
