.topLevel{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  > div {
    background-color: #fafafa;
    width: 1235px;
    max-width: 90%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
}
.playByPlaySection {
  height: 675px;
}

// .playByPlaySection {
//   width: 1235px;
//   max-width: 90%;
//   padding: 10px;
//   border-radius: 20px;
//   background-color: #fafafa;
//   // border: 10px solid red;
//   margin-bottom: 20px;
//   box-sizing: border-box;
// }