.topLevel{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  > div {
    background-color: var(--bg-card);
    width: 1235px;
    max-width: 90%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
  }
}
.playByPlaySection {
  min-height: 675px;
  height: auto;
}

.dataRefresh {
  position: absolute;
  top: 16px;
  left: 20px;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.dataRefresh .MuiCircularProgress-root {
  color: var(--circular-progress-color);
}
