name: 'Frontend Deploy'

on:
  push:
    branches: [ "main" ]
    paths:
      - 'front/**'

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./front
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: front/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Run Tests
        run: |
          npx playwright install --with-deps
          npm run test

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Build and Sync to S3
        run: |
          VITE_WS_LOCATION=${{ vars.VITE_WS_LOCATION }} npm run build:prod:upload