.box {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: scroll;
  // width: fit-content;
  max-width: 100%;

  // max-width: 100%;
  div {
    span {
      margin: 5px;
      min-width: 20px;
      display: inline-block;
    }
  }

  .rowGrid {
    display: grid;
    grid-template-columns: 200px 65px repeat(19, 50px);
    justify-content: center;
    width: fit-content;
    margin: auto;

  }

  .statHeadings {
    font-weight: 500;
  }
  .playerNameCol {
    font-weight: 500;
  }

  .stat {
    color: rgb(108, 109, 111)
  }

  .even {
    background-color: rgb(250, 250, 250);
  }
  .odd {
    background-color: rgb(255, 255, 255);
  }

  .teamRow {
    margin-top: 10px;
  }

  .team {
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  // &::-webkit-scrollbar { 
  //   display: none;  /* Safari and Chrome */
  // }
}