.box {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  div {
    span {
      margin: 5px;
      min-width: 20px;
      display: inline-block;
    }
  }

  .rowGrid {
    display: grid;
    grid-template-columns: 65px repeat(19, 50px);
    justify-content: center;
    width: fit-content;
    margin: auto;
  }

  .statHeadings {
    font-weight: 500;
  }
  .playerNameCol {
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .stat {
    color: rgb(108, 109, 111)
  }

  .even {
    background-color: rgb(250, 250, 250);
  }
  .odd {
    background-color: rgb(255, 255, 255);
  }
  .teamRow {
    margin-top: 10px;
  }

  .team {
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .fullTeam {
    display: flex;
  }
  .leftCol {
    max-width: 200px;
    min-width: 125px;
    width: calc(33vw);
    // flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
  }
  .scrollCols {
    overflow-x: auto;
    flex-grow: 1;
  }

  .showMore {
    position: absolute;
    left: 50%;
  }

  // &::-webkit-scrollbar { 
  //   display: none;  /* Safari and Chrome */
  // }

  .loadingIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6c6d6f;
    font-weight: 500;
    gap: 10px;
    min-height: 200px;
  }
}
