.box {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 545px;

  .rowGrid {
    display: grid;
    grid-template-columns: minmax(140px, 200px) 75px 55px repeat(3, 70px 55px) repeat(9, 55px);
    width: max-content;
    min-width: 100%;

    span {
      padding: 6px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .statHeadings {
    font-weight: 600;
    color: #374151;
    border-bottom: 2px solid #e5e7eb;
    background-color: rgb(255, 255, 255);
    
    .playerNameCol {
      background-color: rgb(255, 255, 255);
    }
    
    .highlight-col {
      background-color: rgba(59, 130, 246, 0.12);
    }
  }

  .playerNameCol {
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: flex-start !important;
    position: sticky;
    left: 0;
    z-index: 2;
  }

  .stat {
    color: rgb(80, 82, 85);

    &:hover {
      background-color: rgb(229, 236, 246);
      
      span {
        background-color: transparent;
      }
      
      .playerNameCol {
        background-color: rgb(229, 236, 246);
      }
      
      .highlight-col {
        background-color: transparent;
      }
    }

    .highlight-col {
      background-color: rgba(59, 130, 246, 0.06);
      font-weight: 600;
      color: rgb(55, 65, 81);
    }
  }

  .even {
    background-color: rgb(249, 250, 251);
    
    .playerNameCol {
      background-color: rgb(249, 250, 251);
    }
  }

  .odd {
    background-color: rgb(255, 255, 255);
    
    .playerNameCol {
      background-color: rgb(255, 255, 255);
    }
  }

  .teamRow {
    margin-top: 10px;
  }

  .team {
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .tableWrapper {
    overflow-x: auto;
    position: relative;
  }

  .showMore {
    position: relative;
    left: 44%;
    top: -5px;
  }

  .loadingIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6c6d6f;
    font-weight: 500;
    gap: 10px;
    min-height: 200px;
  }

  .statusMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6c6d6f;
    font-weight: 500;
    min-height: 200px;
    text-align: center;
    padding: 0 20px;
  }
}
